openapi: 3.0.4
info:
  title: OData Service for namespace microsoft.graph
  description: This OData service is located at https://graph.microsoft.com/v1.0
  version: v1.0
  x-ms-generated-by:
    toolName: Microsoft.OpenApi.OData
    toolVersion: 0.0.0.0
servers:
  - url: https://graph.microsoft.com/v1.0
paths:
  /chats/{chat-id}:
    get:
      tags:
        - chats.chat
      summary: Get chat
      description: >-
        Retrieve a single chat (without its messages). This method supports
        federation. To access a chat, at least one chat member must belong to
        the tenant the request initiated from.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/chat-get?view=graph-rest-1.0
      operationId: get-chat
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /chats/{chat-id}/messages:
    get:
      tags:
        - chats.chatMessage
      summary: List messages in a chat
      description: >-
        Retrieve the list of messages in a chat. This method supports
        federation. To list chat messages in application context, the request
        must be made from the tenant that the channel owner belongs to
        (represented by the tenantId property on the channel).
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/chat-list-messages?view=graph-rest-1.0
      operationId: list-chat-messages
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: &ref_0
            minimum: 0
            type: integer
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: &ref_1
            minimum: 0
            type: integer
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: &ref_2
            type: string
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: &ref_3
            type: string
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: &ref_4
            type: boolean
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.chatMessageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chatMessage
      summary: Send message in a chat
      description: >-
        Send a new chatMessage in the specified chat. This API can't create a
        new chat; you must use the list chats method to retrieve the ID of an
        existing chat before you can create a chat message.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/chat-post-messages?view=graph-rest-1.0
      operationId: send-chat-message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /chats/{chat-id}/messages/{chatMessage-id}:
    get:
      tags:
        - chats.chatMessage
      summary: Get chatMessage in a channel or chat
      description: Retrieve a single message or a message reply in a channel or a chat.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/chatmessage-get?view=graph-rest-1.0
      operationId: get-chat-message
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /chats/{chat-id}/messages/{chatMessage-id}/replies:
    get:
      tags:
        - chats.chatMessage
      summary: Get replies from chats
      description: Replies for a specified message. Supports $expand for channel messages.
      operationId: list-chat-message-replies
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.chatMessageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - chats.chatMessage
      summary: Create new navigation property to replies for chats
      operationId: reply-to-chat-message
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.chatMessage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.chatMessage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
      description: Create new navigation property to replies for chats
  /communications/onlineMeetings/{onlineMeeting-id}/transcripts:
    get:
      tags:
        - communications.onlineMeeting
      summary: Get transcripts from communications
      description: The transcripts of an online meeting. Read-only.
      operationId: list-communications-meeting-transcripts
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: >-
            #/components/responses/microsoft.graph.callTranscriptCollectionResponse
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /communications/onlineMeetings/{onlineMeeting-id}/transcripts/{callTranscript-id}/content:
    get:
      tags:
        - communications.onlineMeeting
      summary: Get content for the navigation property transcripts from communications
      description: The content of the transcript. Read-only.
      operationId: get-communications-meeting-transcript-content
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /drives/{drive-id}/items/{driveItem-id}:
    delete:
      tags:
        - drives.driveItem
      summary: Delete navigation property items for drives
      operationId: delete-onedrive-file
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
      description: Delete navigation property items for drives
  /drives/{drive-id}/items/{driveItem-id}/children:
    get:
      tags:
        - drives.driveItem
      summary: List children of a driveItem
      description: >-
        Return a collection of DriveItems in the children relationship of a
        DriveItem. DriveItems with a non-null folder or package facet can have
        one or more child DriveItems.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/driveitem-list-children?view=graph-rest-1.0
      operationId: list-folder-files
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.driveItemCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /drives/{drive-id}/items/{driveItem-id}/content:
    get:
      tags:
        - drives.driveItem
      summary: Get content for the navigation property items from drives
      description: The content stream, if the item represents a file.
      operationId: download-onedrive-file-content
      parameters:
        - name: $format
          in: query
          description: Format of the content
          schema:
            type: string
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
    put:
      tags:
        - drives.driveItem
      summary: Update content for the navigation property items in drives
      description: The content stream, if the item represents a file.
      operationId: upload-file-content
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /drives/{drive-id}/items/{driveItem-id}/workbook/worksheets:
    get:
      tags:
        - drives.driveItem
      summary: Get worksheets from drives
      description: >-
        Represents a collection of worksheets associated with the workbook.
        Read-only.
      operationId: list-excel-worksheets
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: >-
            #/components/responses/microsoft.graph.workbookWorksheetCollectionResponse
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/charts/add:
    post:
      tags:
        - drives.driveItem
      summary: Invoke action add
      description: Creates a new chart.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/chartcollection-add?view=graph-rest-1.0
      operationId: create-excel-chart
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                sourceData: {}
                seriesBy:
                  type: string
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workbookChart'
                nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/range()/format:
    patch:
      tags:
        - drives.driveItem
      summary: Update the navigation property format in drives
      operationId: format-excel-range
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.workbookRangeFormat'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workbookRangeFormat'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
      description: Update the navigation property format in drives
  /drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/range()/sort:
    patch:
      tags:
        - drives.driveItem
      summary: Update the navigation property sort in drives
      operationId: sort-excel-range
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.workbookRangeSort'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workbookRangeSort'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
      description: Update the navigation property sort in drives
  /drives/{drive-id}/items/{driveItem-id}/workbook/worksheets/{workbookWorksheet-id}/range(address='{address}'):
    get:
      tags:
        - drives.driveItem
      summary: Invoke function range
      operationId: get-excel-range
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.workbookRange'
                nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
      description: Invoke function range
  /drives/{drive-id}/root:
    get:
      tags:
        - drives.driveItem
      summary: Get root from drives
      description: The root folder of the drive. Read-only.
      operationId: get-drive-root-item
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.driveItem'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me:
    get:
      tags:
        - me.user
      summary: Get a user
      description: >-
        Retrieve the properties and relationships of user object. This operation
        returns by default only a subset of the more commonly used properties
        for each user. These default properties are noted in the Properties
        section. To get properties that are not returned by default, do a GET
        operation for the user and specify the properties in a $select OData
        query option. Because the user resource supports extensions, you can
        also use the GET operation to get custom properties and extension data
        in a user instance. Customers through Microsoft Entra ID for customers
        can also use this API operation to retrieve their details.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/user-get?view=graph-rest-1.0
      operationId: get-current-user
      parameters:
        - name: ConsistencyLevel
          in: header
          description: >-
            Indicates the requested consistency level. Documentation URL:
            https://docs.microsoft.com/graph/aad-advanced-queries
          schema:
            type: string
          examples:
            example-1:
              description: >-
                $search and $count queries require the client to set the
                ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/calendar/calendarView:
    get:
      tags:
        - me.calendar
      summary: List calendarView
      description: "Get the occurrences, exceptions and single instances of events in a calendar view defined by a time range,\r\nfrom a user's default calendar (../me/calendarView) or some other calendar of the user's."
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/calendar-list-calendarview?view=graph-rest-1.0
      operationId: get-calendar-view
      parameters:
        - name: startDateTime
          in: query
          description: >-
            The start date and time of the time range, represented in ISO 8601
            format. For example, 2019-11-08T19:00:00-08:00
          required: true
          schema:
            type: string
        - name: endDateTime
          in: query
          description: >-
            The end date and time of the time range, represented in ISO 8601
            format. For example, 2019-11-08T20:00:00-08:00
          required: true
          schema:
            type: string
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /me/calendars:
    get:
      tags:
        - me.calendar
      summary: List calendars
      description: >-
        Get all the user's calendars (/calendars navigation property), get the
        calendars from the default calendar group or from a specific calendar
        group.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/user-list-calendars?view=graph-rest-1.0
      operationId: list-calendars
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.calendarCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /me/calendars/{calendar-id}/events:
    get:
      tags:
        - me.calendar
      summary: Get events from me
      description: The events in the calendar. Navigation property. Read-only.
      operationId: list-specific-calendar-events
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - me.calendar
      summary: Create event
      description: >-
        Use this API to create a new event in a calendar. The calendar can be
        one for a user, or the default calendar of a Microsoft 365 group.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/calendar-post-events?view=graph-rest-1.0
      operationId: create-specific-calendar-event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/calendars/{calendar-id}/events/{event-id}:
    get:
      tags:
        - me.calendar
      summary: Get events from me
      description: The events in the calendar. Navigation property. Read-only.
      operationId: get-specific-calendar-event
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - me.calendar
      summary: Update the navigation property events in me
      operationId: update-specific-calendar-event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
      description: Update the navigation property events in me
    delete:
      tags:
        - me.calendar
      summary: Delete navigation property events for me
      operationId: delete-specific-calendar-event
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
      description: Delete navigation property events for me
  /me/chats:
    get:
      tags:
        - me.chat
      summary: Get chats from me
      operationId: list-chats
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.chatCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
      description: Get chats from me
  /me/contacts:
    get:
      tags:
        - me.contact
      summary: List contacts
      description: >-
        Get a contact collection from the default contacts folder of the
        signed-in user. There are two scenarios where an app can get contacts in
        another user's contact folder:
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/user-list-contacts?view=graph-rest-1.0
      operationId: list-outlook-contacts
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.contactCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - me.contact
      summary: Create contact
      description: >-
        Add a contact to the root Contacts folder or to the contacts endpoint of
        another contact folder.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/user-post-contacts?view=graph-rest-1.0
      operationId: create-outlook-contact
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/contacts/{contact-id}:
    get:
      tags:
        - me.contact
      summary: Get contact
      description: >-
        Retrieve the properties and relationships of a contact object. There are
        two scenarios where an app can get a contact in another user's contact
        folder:
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/contact-get?view=graph-rest-1.0
      operationId: get-outlook-contact
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - me.contact
      summary: Update contact
      description: Update the properties of a contact object.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/contact-update?view=graph-rest-1.0
      operationId: update-outlook-contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - me.contact
      summary: Delete contact
      description: Delete a contact.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/contact-delete?view=graph-rest-1.0
      operationId: delete-outlook-contact
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/drives:
    get:
      tags:
        - me.drive
      summary: List available drives
      description: >-
        Retrieve the list of Drive resources available for a target User, Group,
        or Site.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/drive-list?view=graph-rest-1.0
      operationId: list-drives
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.driveCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /me/events:
    get:
      tags:
        - me.event
      summary: List events
      description: "Get a list of event objects in the user's mailbox. The list contains single\r\ninstance meetings and series masters. To get expanded event instances, you can get the calendar view, or\r\nget the instances of an event. Currently, this operation returns event bodies in only HTML format. There are two scenarios where an app can get events in another user's calendar:"
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/user-list-events?view=graph-rest-1.0
      operationId: list-calendar-events
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.eventCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - me.event
      summary: Create multi-value extended property
      description: "Create one or more multi-value extended properties in a new or existing instance of a resource. The following user resources are supported: The following group resources are supported: See Extended properties overview for more information about when to use\r\nopen extensions or extended properties, and how to specify extended properties."
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/multivaluelegacyextendedproperty-post-multivalueextendedproperties?view=graph-rest-1.0
      operationId: create-calendar-event
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/events/{event-id}:
    get:
      tags:
        - me.event
      summary: Get event
      description: >-
        Get the properties and relationships of the specified event object.
        Currently, this operation returns event bodies in only HTML format.
        There are two scenarios where an app can get an event in another user's
        calendar: Since the event resource supports extensions, you can also use
        the GET operation to get custom properties and extension data in an
        event instance.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-get?view=graph-rest-1.0
      operationId: get-calendar-event
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - me.event
      summary: Update event
      description: Update the properties of the event object.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-update?view=graph-rest-1.0
      operationId: update-calendar-event
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.event'
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.event'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - me.event
      summary: Delete event
      description: >-
        Removes the specified event from the containing calendar.  If the event
        is a meeting, deleting the event on the organizer's calendar sends a
        cancellation message to the meeting attendees.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/event-delete?view=graph-rest-1.0
      operationId: delete-calendar-event
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/joinedTeams:
    get:
      tags:
        - me.team
      summary: List joinedTeams
      description: Get the teams in Microsoft Teams that the user is a direct member of.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/user-list-joinedteams?view=graph-rest-1.0
      operationId: list-joined-teams
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.teamCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /me/mailFolders:
    get:
      tags:
        - me.mailFolder
      summary: List mailFolders
      description: >-
        Get the mail folder collection directly under the root folder of the
        signed-in user. The returned collection includes any mail search folders
        directly under the root. By default, this operation doesn't return
        hidden folders. Use a query parameter includeHiddenFolders to include
        them in the response. This operation doesn't return all mail folders in
        a mailbox, only the child folders of the root folder. To return all mail
        folders in a mailbox, each child folder must be traversed separately.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/user-list-mailfolders?view=graph-rest-1.0
      operationId: list-mail-folders
      parameters:
        - name: includeHiddenFolders
          in: query
          description: Include Hidden Folders
          schema:
            type: string
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.mailFolderCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /me/mailFolders/{mailFolder-id}/messages:
    get:
      tags:
        - me.mailFolder
      summary: List messages
      description: >-
        Get all the messages in the specified user's mailbox, or those messages
        in a specified folder in the mailbox.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/mailfolder-list-messages?view=graph-rest-1.0
      operationId: list-mail-folder-messages
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.messageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /me/messages:
    get:
      tags:
        - me.message
      summary: Get open extension
      description: >-
        Get an open extension (openTypeExtension object) identified by name or
        fully qualified name. The table in the Permissions section lists the
        resources that support open extensions. The following table lists the
        three scenarios where you can get an open extension from a supported
        resource instance.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/opentypeextension-get?view=graph-rest-1.0
      operationId: list-mail-messages
      parameters:
        - name: includeHiddenMessages
          in: query
          description: Include Hidden Messages
          schema:
            type: string
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.messageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - me.message
      summary: Create open extension
      description: >-
        Create an open extension (openTypeExtension object) and add custom
        properties in a new or existing instance of a resource. You can create
        an open extension in a resource instance and store custom data to it all
        in the same operation, except for specific resources. The table in the
        Permissions section lists the resources that support open extensions.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/opentypeextension-post-opentypeextension?view=graph-rest-1.0
      operationId: create-draft-email
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.message'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/messages/{message-id}:
    get:
      tags:
        - me.message
      summary: Get eventMessage
      description: >-
        Get the properties and relationships of the eventMessage object. Apply
        the $expand parameter on the event navigation property to get the
        associated event in an attendee's calendar. Currently, this operation
        returns event message bodies in only HTML format.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/eventmessage-get?view=graph-rest-1.0
      operationId: get-mail-message
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - me.message
      summary: Delete eventMessage
      description: Delete eventMessage.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/eventmessage-delete?view=graph-rest-1.0
      operationId: delete-mail-message
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/messages/{message-id}/attachments:
    get:
      tags:
        - me.message
      summary: List attachments
      description: Retrieve a list of attachment objects.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/eventmessage-list-attachments?view=graph-rest-1.0
      operationId: list-mail-attachments
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.attachmentCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - me.message
      summary: Add attachment
      description: "Use this API to create a new Attachment. An attachment can be one of the following types: All these types of attachment resources are derived from the attachment\r\nresource."
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/eventmessage-post-attachments?view=graph-rest-1.0
      operationId: add-mail-attachment
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.attachment'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/messages/{message-id}/attachments/{attachment-id}:
    get:
      tags:
        - me.message
      summary: Get attachment
      description: >-
        Read the properties, relationships, or raw contents of an attachment
        that is attached to a user event, message, or group post. An attachment
        can be one of the following types: All these types of attachments are
        derived from the attachment resource.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/attachment-get?view=graph-rest-1.0
      operationId: get-mail-attachment
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.attachment'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - me.message
      summary: Delete navigation property attachments for me
      operationId: delete-mail-attachment
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
      description: Delete navigation property attachments for me
  /me/messages/{message-id}/move:
    post:
      tags:
        - me.message
      summary: Invoke action move
      description: >-
        Move a message to another folder within the specified user's mailbox.
        This creates a new copy of the message in the destination folder and
        removes the original message.
      externalDocs:
        description: Find more info here
        url: https://learn.microsoft.com/graph/api/message-move?view=graph-rest-1.0
      operationId: move-mail-message
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                DestinationId:
                  type: string
        required: true
      responses:
        2XX:
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.message'
                nullable: true
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /me/findMeetingTimes:
    post:
      tags:
        - me.user.Actions
      summary: Invoke action findMeetingTimes
      description: "Suggest meeting times and locations based on organizer and attendee availability, and time or location constraints specified as parameters. If findMeetingTimes cannot return any meeting suggestions, the response would indicate a reason in the emptySuggestionsReason property.\r\nBased on this value, you can better adjust the parameters and call findMeetingTimes again. The algorithm used to suggest meeting times and locations undergoes fine-tuning from time to time. In scenarios like test environments where the input parameters and calendar data remain static, expect that the suggested results may differ over time."
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/user-findmeetingtimes?view=graph-rest-1.0
      operationId: find-meeting-times
      requestBody:
        $ref: '#/components/requestBodies/findMeetingTimesRequestBody'
      responses:
        2XX:
          $ref: '#/components/responses/findMeetingTimesResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /me/sendMail:
    post:
      tags:
        - me.user.Actions
      summary: Invoke action sendMail
      description: >-
        Send the message specified in the request body using either JSON or MIME
        format. When using JSON format, you can include a file attachment in the
        same sendMail action call. When using MIME format: This method saves the
        message in the Sent Items folder. Alternatively, create a draft message
        to send later. To learn more about the steps involved in the backend
        before a mail is delivered to recipients, see here.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/user-sendmail?view=graph-rest-1.0
      operationId: send-mail
      requestBody:
        $ref: '#/components/requestBodies/sendMailRequestBody'
      responses:
        '204':
          description: Success
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /me/onenote/notebooks:
    get:
      tags:
        - me.onenote
      summary: List notebooks
      description: Retrieve a list of notebook objects.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/onenote-list-notebooks?view=graph-rest-1.0
      operationId: list-onenote-notebooks
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.notebookCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /me/onenote/notebooks/{notebook-id}/sections:
    get:
      tags:
        - me.onenote
      summary: List sections
      description: Retrieve a list of onenoteSection objects from the specified notebook.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/notebook-list-sections?view=graph-rest-1.0
      operationId: list-onenote-notebook-sections
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: >-
            #/components/responses/microsoft.graph.onenoteSectionCollectionResponse
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /me/onenote/pages:
    post:
      tags:
        - me.onenote
      summary: Create onenotePage
      description: >-
        Create a new OneNote page in the default section of the default
        notebook. To create a page in a different section in the default
        notebook, you can use the sectionName query parameter.  Example:
        ../onenote/pages?sectionName=My%20section The POST /onenote/pages
        operation is used only to create pages in the current user's default
        notebook. If you're targeting other notebooks, you can create pages in a
        specified section.  
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/onenote-post-pages?view=graph-rest-1.0
      operationId: create-onenote-page
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        2XX:
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/onenote/pages/{onenotePage-id}/content:
    get:
      tags:
        - me.onenote
      summary: Get content for the navigation property pages from me
      description: The page's HTML content.
      operationId: get-onenote-page-content
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /me/onenote/sections/{onenoteSection-id}/pages:
    get:
      tags:
        - me.onenote
      summary: List pages
      description: Retrieve a list of page objects from the specified section.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/section-list-pages?view=graph-rest-1.0
      operationId: list-onenote-section-pages
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: '#/components/responses/microsoft.graph.onenotePageCollectionResponse'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /me/onlineMeetings:
    get:
      tags:
        - me.onlineMeeting
      summary: Get onlineMeeting
      description: >-
        Retrieve the properties and relationships of an onlineMeeting object.
        For example, you can: Teams live event attendee report (deprecated) and
        Teams live event recordings (deprecated) are online meeting artifacts.
        For more information, see Online meeting artifacts and permissions.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/onlinemeeting-get?view=graph-rest-1.0
      operationId: list-online-meetings
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: >-
            #/components/responses/microsoft.graph.onlineMeetingCollectionResponse
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /me/onlineMeetings/{onlineMeeting-id}:
    get:
      tags:
        - me.onlineMeeting
      summary: Get onlineMeeting
      description: >-
        Retrieve the properties and relationships of an onlineMeeting object.
        For example, you can: Teams live event attendee report (deprecated) and
        Teams live event recordings (deprecated) are online meeting artifacts.
        For more information, see Online meeting artifacts and permissions.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/onlinemeeting-get?view=graph-rest-1.0
      operationId: get-online-meeting
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onlineMeeting'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/onlineMeetings/{onlineMeeting-id}/recordings:
    get:
      tags:
        - me.onlineMeeting
      summary: Get callRecording
      description: >-
        Get a callRecording object associated with a scheduled online meeting
        and an ad hoc call. This API supports the retrieval of call recordings
        from all meeting types except live events. For a recording, this API
        returns the metadata of the single recording associated with the online
        meeting or an ad hoc call. For the content of a recording, this API
        returns the stream of bytes associated with the recording.
      externalDocs:
        description: Find more info here
        url: >-
          https://learn.microsoft.com/graph/api/callrecording-get?view=graph-rest-1.0
      operationId: list-meeting-recordings
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
          in: query
          description: Filter items by property values
          style: form
          explode: false
          schema: *ref_3
        - name: $count
          in: query
          description: Include count of items
          style: form
          explode: false
          schema: *ref_4
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          $ref: >-
            #/components/responses/microsoft.graph.callRecordingCollectionResponse
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  /me/onlineMeetings/{onlineMeeting-id}/recordings/{callRecording-id}:
    get:
      tags:
        - me.onlineMeeting
      summary: Get recordings from me
      description: The recordings of an online meeting. Read-only.
      operationId: get-meeting-recording
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              type: string
      responses:
        2XX:
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.callRecording'
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /me/onlineMeetings/{onlineMeeting-id}/recordings/{callRecording-id}/content:
    get:
      tags:
        - me.onlineMeeting
      summary: Get content for the navigation property recordings from me
      description: The content of the recording. Read-only.
      operationId: get-meeting-recording-content
      responses:
        2XX:
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        4XX:
          $ref: '#/components/responses/error'
        5XX:
          $ref: '#/components/responses/error'
  /me/onlineMeetings/{onlineMeeting-id}/transcripts:
    get:
      tags:
        - me.onlineMeeting
      summary: Get transcripts from me
      description: The transcripts of an online meeting. Read-only.
      operationId: list-meeting-transcripts
      parameters:
        - name: $top
          in: query
          description: Show only the first n items
          style: form
          explode: false
          schema: *ref_0
          example: 50
        - name: $skip
          in: query
          description: Skip the first n items
          style: form
          explode: false
          schema: *ref_1
        - name: $search
          in: query
          description: Search items by search phrases
          style: form
          explode: false
          schema: *ref_2
        - name: $filter
[...]
